{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block title_h1 %}{{ title }}{% endblock %}
{% block title_img %}{{ title_img }}{% endblock %}

{% block content %}


<div class="container-fluid" id="home">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 mb-3 mt-3" id="home-body">
            <p><span class="fs-1">H</span>ello, my name is Barry Martin. I live in south Jersey with my wonderful wife and two boys. I am a data and software 
            geek and have a passion for the science of meteorology. I find it extremely rewarding to use technology to capture weather data, 
            visualize, analyze and predict.
            I have many years of experience in the data analytics space performing complex analysis, automation development and software/data engineering.
        </p>
        <br>
        <p>If you like to reach out to me, please email me at <a href="mailto:bvmcode@thepythongeek.com?subject=Hello from your website!">bvmcode@thepythongeek.com</a>.</p>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <img src="{{ url_for('static', filename='images/me2.png') }}" style="width: 50%; height: auto; margin: 0 auto;" class="img-fluid">
    </div>
</div>
{% endblock %}