
{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block title_h1 %}{{ title }}{% endblock %}
{% block title_img %}{{ title_img }}{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col border-end text-center align-items-center">
        <h4 style="text-decoration: underline">About this model</h4>
        <p>I created an xgboost model to predict the daily high temperature (°F) for my weather station location in Atco, NJ.
            Visit this blog to see how I created the model.
        </p>
    </div>
    <div class="col border-end text-center align-items-center">
        <h4 style="text-decoration: underline">Previous Day Prediction</h4>
        <p>PREDICTION: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if prediction_prev_day%} 
            {{ prediction_prev_day }} °F
            {% else %}
            no prediction due to lack of data
            {% endif %}
        </p>
        <p >ACTUAL: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if prediction_prev_day%} 
                {% if actual_prev_day %}
                    {{ actual_prev_day }} °F
                {% else %}
                    --
                {% endif %}
            {% else %}
            no actual due to lack of data
            {% endif %}
        </p>
    </div>
    <div class="col text-center align-items-center">
        <h4 style="text-decoration: underline">Today's Prediction</h4>
        <p>PREDICTION: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if prediction%} 
            {{ prediction }} °F
            {% else %}
            no prediction due to lack of data
            {% endif %}
        </p>
        <p>CURRENT: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ current_temperature }} °F
        </p>
    </div>
</div>

<br>
<br>

<div class="container">
    <h3>Ten Day Trend</h3>
    <canvas id="myChart"></canvas>
</div>

<br>
<br>


</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    async function plot(){
        var url = "{{ url_for('project.prediction_api') }}"
        const response = await fetch(url);
        var data = await response.json();
        console.log(data)
        const config = {
            type: 'line',
            data:{
                labels: data['dates'],
                datasets: [{
                    label: 'Predictions',
                    data: data['predictions'],
                    yAxisID: 'predictions'
                },
                {
                    label: 'Actuals',
                    data: data['actuals'],
                    yAxisID: 'actuals'
                }      
                ]
            },
            options: 
            {  
                responsive: true,
                scales: {
                    predictions: {
                        position: 'left'
                            }, 
                    }
             }
            };
            console.log(config)
            const myChart = new Chart("myChart", config)
    
    }
    
    window.addEventListener("load",function(){
        plot();
    },false);
    
    
    </script>

{% endblock %}