
{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block title_h1 %}{{ title }}{% endblock %}
{% block title_img %}{{ title_img }}{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-sm border-end text-center align-items-center">
        <h4 style="text-decoration: underline">About this model</h4>
        <p>I developed a machine learning model to predict the daily high temperature (°F) for my location in Atco, NJ. The actual 
            temperature data is from my <a href="{{ url_for('project.project3') }}">weather station</a>. The model features come from 
            surrounding NWS 12Z soundings as well as 12Z observations from my station.
            <br>
        </p>
        <p>Blog coming soon explaining the data pipeline and model development.</p>
    </div>
    <div class="col-sm border-end text-center align-items-center">
        <h4 style="text-decoration: underline">Previous Day Prediction</h4>
        {% if message_prev_day %}
            <p style="color:red;">{{ message_prev_day }}</p>
        {% else %}
            <p><small class="text-muted">last updated {{ last_updated }}</small></p>
        {% endif %}
        <p>PREDICTION: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if prediction_prev_day %} 
                {{ prediction_prev_day }} °F
            {% else %}
            --
            {% endif %}
        </p>
        <p >ACTUAL: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if prediction_prev_day %} 
                {% if actual_prev_day %}
                    {{ actual_prev_day }} °F
                {% else %}
                    --
                {% endif %}
            {% else %}
            --
            {% endif %}
        </p>
    </div>
    <div class="col-sm text-center align-items-center">
        <h4 style="text-decoration: underline">Today's Prediction</h4>
        {% if message %}
            <p style="color:red;">{{ message }}</p>
        {% else %}
            <p><small class="text-muted">last updated {{ last_updated }}</small></p>
        {% endif %}
        <p>PREDICTION: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if prediction%} 
            {{ prediction }} °F
            {% else %}
            --
            {% endif %}
        </p>
        <p>CURRENT: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ current_temperature }} °F
        </p>
    </div>
</div>

<br>
<br>

<div class="container">
    <h3>Last 7 Days - Predictions and Actuals</h3>
    <canvas id="myChart"></canvas>
</div>

<br>
<br>


</div>


<script>

    async function plot(){
        var url = "{{ url_for('project.prediction_api') }}"
        const response = await fetch(url);
        var data = await response.json();
        console.log(data)
        const config = {
            type: 'line',
            data:{
                labels: data['dates'],
                datasets: [{
                    label: 'Predictions',
                    data: data['predictions'],
                },
                {
                    label: 'Actuals',
                    data: data['actuals'],
                }      
                ]
            },
            options: {
                responsive: true
            }
            };
            console.log(config)
            const myChart = new Chart("myChart", config)
    
    }
    
    window.addEventListener("load",function(){
        plot();
    },false);
    
    
    </script>

{% endblock %}