
{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block title_h1 %}{{ title }}{% endblock %}
{% block title_img %}{{ title_img }}{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-sm border-end text-center align-items-center">
        <h4 style="text-decoration: underline">About this model</h4>
        <p>I developed a machine learning model to predict the daily high temperature (°F) for my location in Atco, NJ. This page 
            displays the comparison between the model's prediction to the observed high temperature 
            from my <a href="{{ url_for('project.project3') }}">weather station</a>. 
            The model input is derived from surrounding NWS 12Z sounding data as well as 12Z observations 
            from my station.
            <br>
        </p>
        <p>Here is a <a href="https://medium.com/@weatherpy/machine-learning-for-hyperlocal-temperature-prediction-24388e34b8cd">blog</a> that goes into some technical detail about this project.</p>
    </div>
    <div class="col-sm border-end text-center align-items-center">
        <h4 style="text-decoration: underline">Previous Day <small>{{ prev_day }}</small></h4>
        {% if message_prev_day %}
            <p style="color:red;">{{ message_prev_day }}</p>
        {% else %}
            <p><small class="text-muted">updated {{ last_updated_prev_day }}</small></p>
        {% endif %}
        <p>PREDICTION: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if (prediction_prev_day is not none) and (actual_prev_day is not none) %} 
                {{ prediction_prev_day }} °F
            {% else %}
            --
            {% endif %}
        </p>
        <p >ACTUAL: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if (prediction_prev_day is not none) and (actual_prev_day is not none) %} 
                    {{ actual_prev_day }} °F
            {% else %}
            --
            {% endif %}
        </p>
        <p >DIFFERENCE: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if (prediction_prev_day is not none) and (actual_prev_day is not none) %} 
                    {{ difference }} °F
            {% else %}
            --
            {% endif %}
        </p>
    </div>
    <div class="col-sm text-center align-items-center">
        <h4 style="text-decoration: underline">Today <small>{{ today }}</small></h4>
        {% if message %}
            <p style="color:red;">{{ message }}</p>
        {% else %}
            <p><small class="text-muted">updated {{ last_updated }}</small></p>
        {% endif %}
        <p>PREDICTION: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if prediction is not none %} 
            {{ prediction }} °F
            {% else %}
            --
            {% endif %}
        </p>
        <p>HIGH TEMP TODAY: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ current_temp_max }} °F
        </p>
        <p>CURRENT TEMP: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ current_temperature }} °F
        </p>
    </div>
</div>

<br>
<br>

<div class="container">
    <h4>Two Week Daily High Temperatures ˚F</h4>
    <h5 class="text-muted">Predicted vs Observed</h5>
    <canvas id="myChart"></canvas>
</div>



</div>


<script>

    async function plot(){
        var url = "{{ url_for('project.prediction_api') }}"
        const response = await fetch(url);
        var data = await response.json();
        console.log(data)
        const config = {
            type: 'line',
            data:{
                labels: data['dates'],
                datasets: [{
                    label: 'Predicted',
                    data: data['predictions'],
                },
                {
                    label: 'Observed',
                    data: data['actuals'],
                }      
                ]
            },
            options: {
                responsive: true
            }
            };
            console.log(config)
            const myChart = new Chart("myChart", config)
    
    }
    
    window.addEventListener("load",function(){
        plot();
    },false);
    
    
    </script>

{% endblock %}