{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block title_h1 %}{{ title }}{% endblock %}
{% block title_img %}{{ title_img }}{% endblock %}

{% block content %}
<div class="container-fluid mb-5">
      <div class="resume-section card">
        <h5 class="resume-section-header card-header">Experience</h5>
         <div class="card-body">
            <div class="row align-items-start">
                <div class="col-sm">
                <h5 class="resume-company card-title">Software Engineer at <a href="https://getsapphire.com/">Zelis (previously Sapphire Digital)</a></h5>
                <h6 class="resume-dates mt-3 mb-3"><i>August 2021 - Present</i></h6>
                <ul>
                    <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                    <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                    <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                    <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                    <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                    <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                    <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                    <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                </ul>
                </div>
                <div class="col-sm">
                    <h5 class="resume-company card-title">Data Analyst/Scientist at <a href="https://chrobinson.com/">CH Robinson</a></h5>
                    <h6 class="resume-dates mt-3 mb-3"><i>January 2013 - August 2021</i></h6>
                    <ul>
                        <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                    </ul>
                </div>
            </div>
        </div>
 


        <div class="resume-section card">
          <h5 class="resume-section-header card-header">Skills</h5>
           <div class="card-body">
              <div class="row align-items-start">
                  <div class="col-sm">
                  <ul>
                      <li>dfsdkfsdfsdfsfsd</li>
                      <li>dfsdkfsdfsdfsfsd</li>
                      <li>dfsdkfsdfsdfsfsd</li>
                      <li>dfsdkfsdfsdfsfsd</li>
                      <li>dfsdkfsdfsdfsfsd</li>
                      <li>dfsdkfsdfsdfsfsd</li>
                      <li>dfsdkfsdfsdfsfsd</li>
                  </ul>
                  </div>
                  <div class="col-sm">
                      <ul>
                        <li>dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd</li>
                      </ul>
                  </div>
                  <div class="col">
                    <ul>
                        <li>dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd</li>
                        <li>dfsdkfsdfsdfsfsd</li>
                    </ul>
                </div>
              </div>
          </div>



        <div class="resume-section card">
          <h5 class="resume-section-header card-header">Education</h5>
           <div class="card-body">
              <div class="row align-items-start">
                  <div class="col">
                  <h5 class="resume-company card-title"><a href="https://umassl.edu/">University of Massachusetts Lowell</a></h5>
                  <h6 class="resume-dates mt-3 mb-3"><i>Information Technology - B.S.</i></h6>
                  <ul>
                      <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                      <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                  </ul>
                  </div>
                  <div class="col">
                      <h5 class="resume-company card-title"><a href="https://ou.edu/">University of Oklahoma</a></h5>
                      <h6 class="resume-dates mt-3 mb-3"><i>Atmopheric Science - B.S.</i></h6>
                      <ul>
                          <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                          <li>dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd dfsdkfsdfsdfsfsd</li>
                      </ul>
                  </div>
              </div>
          </div>


</div>

{% endblock %}